/* CSS declarations go here */
body, html {
  height: 100%;
}

*:not(i):not(.material-icons) {
  font-family: 'Open Sans', sans-serif;
}

body {
  .container {
    height: 100%;
  }
  #map {
    height: 100%;
    width: 80%;
  }

  #loc-list {
    width: 20%;
  }
}

.header-title {
  font-weight: 200;
  text-transform: lowercase;
  font-size: 50px;
}

.full-height {
  height: 500px;
}

.content-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cursor-pointer {
  cursor: pointer;
}
